/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto{
  font-family: "Roboto", sans-serif;
}
.bebas-neue{
  font-family: "Bebas Neue", sans-serif;
}

/* shared styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-primary{
  color: white;
  border-radius: 6px;
  border: none;
  background-color: #F46060;
  font-weight: 500;
}

/* navbar styles */
.navbar{
  max-width: 1160px;
  margin: 0 auto;
}
nav > ul{
  display: flex;
  gap: 39px;
  justify-content: end;
  margin-right: 140px;
  margin-top: 37px;
}
nav > ul > li{
  list-style: none;
  font-weight: 500;
  color: #3C3C3C;
}

/* banner styles */
.banner{
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 190px;
}
 .banner-upper-container{
  display: flex;
  gap: 230px;
  align-items: center;
  justify-content: center;
 }
.banner-heading{
  max-width: 348px;
}
.banner-title{
  font-weight: bold;
  font-size: 5rem;
  color: #363958;
  margin-bottom: 18px;
}
.banner-special{
  color: #FF8367;
}
.banner-description{
  color: #3E3E3E;
  margin-bottom: 36px;
  line-height: 24px;
}
.banner-btn1{
  padding: 18px 56px;
}
.banner-img img{
  max-width: 470px;
}
.banner-lower-container{
  display: flex;
  gap: 230px;
  align-items: center;
  justify-content: center;
}
.banner-about-container{
  max-width: 450px;
}
.banner-about{
  font-weight: bold;
  font-size: 3rem;
  color: #363958;
  margin-bottom: 37px;
}
.banner-about-description{
  color: #3E3E3E;
  line-height: 24px;
  margin-bottom: 24px;
  
}
.banner-btn2{
  display: flex;
  gap: 10px;
  padding: 18px 17px;
}

@media screen and (max-width: 576px) {
  /* navbar styles */
  nav > ul{
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  /* banner styles */
  .banner{
    margin-bottom: 50px;
  }
  .banner-heading{
    width: 90%;
  }
  .banner-title{
    margin-bottom: 10px;
  }
  .banner-img img{
    width: 90%;
    margin-bottom: 20px;
    margin-left: 25px;
  }
  .banner-upper-container{
    flex-direction: column;
    gap: 30px;
  }
  .banner-lower-container{
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: center;
  }
  .banner-about-container{
    width: 80%;
  }
}